.nav-header{
    background-color: black;
    padding: 1rem;
    display: flex;
    height: 4rem;
    justify-content: space-between;
}

.nav-l>ul{
    display: flex;
    gap: 1rem;
}
.nav-l>ul>li>span{
   font-weight: bold; 
}
.nav-l>ul>li{
   font-family: 'Times New Roman', Times, serif;
}
.nav-r>ul>li{
   font-family: 'Times New Roman', Times, serif;
}

.nav-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 1rem;
    color: white
}

.nav-menu>li:hover{
    cursor: pointer;
    color: var(--orange);
}

.images{
    display: flex;
}