.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--gray);
}



.login-r{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--orange);
    padding: 2rem;
    height: 30rem;
    width: 20rem;
    

}
.login-l{
    height: 30rem;
    width: 20rem;

}

.login-l>img{
    height: 30rem;
    width: 20rem;
}



.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: white; */
    padding: 2rem;
    font-size: 50px;

}



input{
    border: 1px solid var(--gray);
    width: 16rem;
    height: 2.5rem;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    outline: none;   
}

.btn-l {
    height: 2rem;
    width: 15rem;
    border-radius: 6px;
    background-color: var(--gray);
    border: none;
    color: white;

}

::placeholder{
    color: white;
    padding: 1rem;
}

.login-r>h3{
    color:white;
    font-size: 20px;
}


.form>label{
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

}

.login-btn {
    color: white;
    background-color: var(--darkGrey);
    width: 10rem;
    height: 2rem;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    margin-top: 2rem;
}

.errors {
    color: red;
    font-size: 18px;
}

label > span {
    color: red;
    font-size: 17px;
}


